doctype html
html
  head
    title #{name}
    |         
    link(rel='stylesheet', type='text/css', href='../../resource/extjs.git/src3.4.2/resources/css/ext-all.css')
    |         
    // LIBS
    script(type='text/javascript', src='../../resource/extjs.git/src3.4.2/adapter/ext/ext-base-debug.js')
    // ENDLIBS
    script(type='text/javascript', src='../../resource/extjs.git/src3.4.2/ext-all-debug.js')
    // Component
    script(type='text/javascript', src='../../'+file)
    script(type='text/javascript')
        | Ext.onReady( function() {
        | #{example} 
        | });
    body
        button#button-ct