doctype html
html
    head
        meta(http-equiv="content-type", content="text/html; charset=UTF-8")
        script(src="../js/gallery.js")
        link(rel="stylesheet" href="../css/gallery.css")
        title #{name}
    body
        row
            div.col-lg-12
                h1
                    | #{name}
        row
            .col-lg-12.col-md-12.col-sm-12.col-xs-12
                a.btn.btn-default(href='../index.html')
                    span.glyphicon.glyphicon-home(aria-hidden='true')
                    span
                        |  Home
                |     
                br
                |     
                br
        row
            div.col-lg-6.col-md-6.col-sm-6.col-xs-12
                iframe(src='../iframe/'+name+'.html')
            div.col-lg-6.col-md-6.col-sm-6.col-xs-12
                textarea#myTx
                    | #{example}
        script(type='text/javascript').
            /*tanks to Marijn Haverbeke */
            var indentAll = function(cm) { 
                var last = cm.lineCount(); 
                cm.operation(function() { 
                    for (var i = 0; i < last; ++i) cm.indentLine(i); 
                }); 
            } 
            var myCodeMirror = CodeMirror.fromTextArea(document.getElementById('myTx'), {
            mode:  "javascript",
            lineNumbers: true,
            }); 
            indentAll(myCodeMirror);