doctype html
html
    head
        meta(http-equiv="content-type", content="text/html; charset=UTF-8")
        link(rel='stylesheet', type='text/css', href='./css/index.css')
    title Home
    |         
    body
        div.container-fluid
            div.row
                div.col-lg-12.col-md-12.col-sm-12.col-xs-12
                    h1 Gallery
            div.row.searchRow
                .col-lg-12.col-md-12.col-sm-12.col-xs-12
                    h2 Search
                    |                  
                    |                     
                    .input-group
                        input.form-control.form-search.typeahead(type='text', placeholder='Component name', aria-describedby='basic-addon2', data-provided="typeahead")
                        |                         
                        span#basic-addon2.input-group-addon
                            i.glyphicon.glyphicon-search
                    |                     
                    br
                    |                     
                    br
            div.row
                div.galleryContainer.container-fluid
                    each val in data
                        div.col-lg-4.col-md-4.col-sm-6.col-xs-6.thumbnail
                            div.thumbnailContainer
                                a.compPict(href='./gallery/'+val.name+'.html') 
                                    img.img-responsive(src='./img/iframe_'+val.name+'.html.png')
                                a.compName(href='./gallery/'+val.name+'.html') #{val.name}
            div#body
        script(type='text/javascript', src='./js/index.js')
        script(type='text/javascript')
            | var menu = $('.searchRow');
            | var origOffsetY = menu.offset().top;
            | 
            | function scroll() {
            |     if ($(window).scrollTop() >= origOffsetY) {
            |         menu.addClass('navbar-fixed-top container-fluid');
            |     } else {
            |         menu.removeClass('navbar-fixed-top container-fluid');
            |     }
            | }
            | 
            | document.onscroll = scroll;