doctype html
html
    head
        meta(http-equiv="content-type", content="text/html; charset=UTF-8")
        link(rel='stylesheet', type='text/css', href='./css/index.css')
    title Home
    |         
    body
        div.container-fluid
          div.row
              div.col-lg-12.col-md-12.col-sm-12.col-xs-12
                  h1= title
          .row.searchRow
            .col-lg-12.col-md-12.col-sm-12.col-xs-12
              br
              .col-lg-6.col-md-6.col-sm-6.col-xs-6
                #scrollable-dropdown-menu.input-group.name-group
                  span.input-group-addon Name
                  input.form-control.form-search.form-name.typeahead(type='text', placeholder='Search', data-provided='typeahead', aria-label='Search', style='border-radius:0')
                  span.input-group-addon
                    i.glyphicon.glyphicon-search
                .additionalSearch
                  br
                  .input-group.dependencies-group
                    span.input-group-addon Dependencies (require) 
                    input.form-control.form-search.form-dependencies.typeahead(type='text', placeholder='Search', data-provided='typeahead', aria-label='Search', style='border-radius:0')
                    span.input-group-addon
                      i.glyphicon.glyphicon-search
              .col-lg-6.col-md-6.col-sm-6.col-xs-6
                .input-group.inherit-group
                  span.input-group-addon Inherit from
                  input.form-control.form-search.form-inherit.typeahead(type='text', placeholder='Search', data-provided='typeahead', aria-label='Search', style='border-radius:0')
                  span.input-group-addon
                    i.glyphicon.glyphicon-search
                .additionalSearch
                  br
                  .input-group.tags-group
                    span.input-group-addon Tags 
                    input.form-control.form-search.form-tags.typeahead(type='text', placeholder='Search', data-provided='typeahead', aria-label='Search', style='border-radius:0')
                    span.input-group-addon
                      i.glyphicon.glyphicon-search
                  br
              button#expandSearch.btn.btn-default.btn-primary(type='button', aria-haspopup='true', aria-expanded='false')
                | Advanced search 
                span.iconExpanded.glyphicon.glyphicon-triangle-bottom   
          div.row
              div.galleryContainer.container-fluid
                  each val in data
                      div.col-lg-4.col-md-4.col-sm-6.col-xs-6.thumbnail
                          div.thumbnailContainer
                              a.compPict(href='./gallery/'+val.name+'.html') 
                                  img.img-responsive(src='./img/iframe_'+val.name+'.html.png', onerror="this.src = './img/missing.png'")
                              a.compName.col-lg-12.col-md-12.col-sm-12.col-xs-12(href='./gallery/'+val.name+'.html')
                                  .col-lg-9.col-md-9.col-sm-9.col-xs-9.compName
                                      if val.customName
                                          div= val.customName
                                      else
                                          div= val.name
                                  .col-lg-3.col-md-3.col-sm-3.col-xs-3
                                      form(action='./gallery/'+val.name+'.html', target='_blank')
                                          button.btn.btn-default(type='submit', value='other window', data-toggle='tooltip', title='Open in other window')
                                              span.glyphicon.glyphicon-new-window
        div#body
        script(type='text/javascript', src='./js/index.js')
        script(type='text/javascript')
            | var menu = $('.searchRow');
            |  var origOffsetY = menu.offset().top;
            |  function scroll() {
            |      if ($(window).scrollTop() >= origOffsetY) {
            |          menu.addClass('navbar-fixed-top container-fluid');
            |      } else {
            |          menu.removeClass('navbar-fixed-top container-fluid');
            |      }
            |  }
            |  $('#expandSearch').click( function(event) {
            |    if ($('.additionalSearchExpanded').length !== 0 ) {
            |          $('.additionalSearch').removeClass('additionalSearchExpanded');
            |          $('.additionalSearch').css('height','0');
            |          setTimeout(function() {
            |              $('.tags-group').css('display','none');
            |              $('.dependencies-group').css('display','none');
            |          },'200');       
            |          $('.iconExpanded').removeClass('glyphicon-triangle-top');
            |          $('.iconExpanded').addClass('glyphicon-triangle-bottom');
            |    } else {
            |          $('.additionalSearch').addClass('additionalSearchExpanded');
            |          $('.additionalSearch').css('height','50px')
            |          setTimeout(function() {
            |              $('.tags-group').css('display','table');
            |              $('.dependencies-group').css('display','table');
            |          },'200');       
            |          $('.iconExpanded').removeClass('glyphicon-triangle-bottom');
            |          $('.iconExpanded').addClass('glyphicon-triangle-top');
            |    }
            |  }) 
            |  document.onscroll = scroll;
            |  $('.compName').quickfit({ max : 24});